<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[Bigliett]ONE</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon-100x100.png">

  <!-- CSS PER LO SLIDER -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <!-- FINE CSS PER SLIDER -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .carousel {
    width: 60%; 
    margin: 0 auto;
  }
  .carousel img {
    width: 100%; 
  }

  
  .carousel .slick-prev,
  .carousel .slick-next {
    font-size: 0;  
    line-height: 0; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 60px;
    height: 60px; 
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .carousel .slick-prev {
    left: 10px; 
  }

  .carousel .slick-next {
    right: 10px; 
  }


  .carousel .slick-prev::before,
  .carousel .slick-next::before {
    font-family: Arial, sans-serif; 
    font-weight: bold;
    font-size: 24px;
    color: #000; 
    content: "\2039"; 
  }
/* Codice Unicode*/
  .carousel .slick-next::before {
    content: "\203A";
  }
      

  .dropdown .dropdown-menu{
      display: none;
    }

    .dropdown:hover > .dropdown-menu , .dropend:hover > .dropdown-menu {
      display: block;
      
    } 
    
    

    @media screen and (min-width: 769px){
      .dropend:hover > .dropdown-menu{
      position: absolute;
      top: 0;
      left: 100%;
    }
    }

    .border-rad{

border-top-right-radius: 28px;
border-bottom-right-radius: 28px;

color: #fff;
background-color: #f9a826;
border-color: #f9a826;
}

.border-rad:hover{

 background-color: #f9a826;
border-color: #f9a826;

}

  </style>
</head>
<body>

   <!-- INIZIO HEADER -->

   <div class="sticky-top">
    <div>
      <img src="/img/index_splash.jpg" style="width: 100%" class="img-fluid" alt="[Bigliett]ONE">
    </div>
      <header class="p-3 text-bg-dark">
          <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
              </a>
              <div>
                <a href="/"><img style="width: 60%" class="left" src="/img/logo.png" alt=""></a>
              </div>
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

              <!-- DROPDOWN  EVENTI-->

              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Eventi
                </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" th:href="@{/paginaEventi?tipo=categoria&categoria={categoria}(categoria=${categoria})}" th:each="categoria: ${listaCategorie}" th:text="${categoria}"></a>
                  </div>
              </div>

              <!-- FINE DROPDOWN EVENTI -->  
               <!-- DROPDOWN  LOCALITA'-->

              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Località
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div th:each="citta: ${listaCitta}" class="nav-item dropend">
                        <div class="dropdown">
                            <a class="dropdown-item dropdown-toggle" th:href="@{/paginaEventi(tipo='citta', idCitta=${citta.id})}" th:text="${citta.nomeCitta}"></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a th:each="location: ${citta.listaLocation}" class="dropdown-item" th:href="@{/paginaEventi(tipo='location', idLocation=${location.id})}" th:text="${location.nomeLocation}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            
              <!-- FINE DROPDOWN LOCALITA' -->            
      
              <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
              </form>
      
              <div class="text-end">
              <button type="button" class="btn btn-outline-light me-2"><a href="/loginPage">Login</a></button>
              <button type="button" class="btn btn-warning"><a href="/registerPage">Register</a></button>
              </div>
          </div>
          </div>
      </header>
  </div>

<!-- FINE HEADER -->

<div class="carousel">
  <div th:each="evento : ${listaEventi}">
    <a th:href="@{/paginaEvento?idEvento={idEvento}(idEvento=${evento.id})}" > 
      <!--  th:href="@{/paginaEventi( idEvento=${evento.id})}" -->
      <img th:src="${evento.locandina}" th:alt="Slide" />
    </a>
  </div>
</div>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
      <script>
        $(document).ready(function(){
          $('.carousel').slick({
            slidesToShow: 5,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            prevArrow: '<button type="button" class="slick-prev" aria-label="Previous"></button>',
            nextArrow: '<button type="button" class="slick-next" aria-label="Next"></button>'
          });
        });
      </script>


<table id="myTable">
  <thead>
    <tr>
      <th><input type="text" id="myInputCitta" onkeyup="myFunction()" placeholder="Città" title="Citta" name="citta"></th>
      <th><input type="text" id="myInputEventi" onkeyup="myFunction()" placeholder="Altri eventi" title="Eventi" name="categoria" ></th>
      <th><input type="date" id="myInputDataInizio" onchange="myFunction()" placeholder="Da data" title="Data inizio" name="da"></th>
      <th><input type="date" id="myInputDataFine" onchange="myFunction()" placeholder="A data" title="Data fine" name="a"></th>
<!--     <label for="myInputAcquistabile">Acquistabile</label>
    <input type="checkbox" id="myInputAcquistabile" onclick="myFunction()"> -->
  </tr>
    
        <tr>
          <th>ID</th>
          <th>Titolo</th>
          <th>Categoria</th>
          <th>Prima Data</th>
          <th>Ultima Data</th>
        </tr>
      </thead>
      <tbody>
      <tr th:each = "evento: ${listaEventi}" onclick="window.location='/paginaEvento?id=${evento.id}'">
        <td th:text="${evento.id}"></td>
        <!--  th:href="@{/paginaEventi( idEvento=${evento.id})}" 
          <a href="/paginaEvento?id=${evento.id}"></a>
        -->
        <td th:text ="${evento.titolo}" ></td>
        <td th:text = "${evento.categoria}"></td>
        <td th:text = "${evento.primaData}"></td>
        <td th:text = "${evento.ultimaData}"></td>
      </tr>
    </tbody>
    </table>
    
    <!-- Newsletter-->
  <div class="row d-flex justify-content-center align-items-center rows">

    <div class="col-md-6">


        <div class="card">


            <div class="text-center">
                <h2>Newsletter</h2>
                <img src="https://i.imgur.com/Dh7U4bp.png" width="200">
                <span class="d-block mt-3">Con il Servizio di Newsletter rimani aggiornato sui principali eventi in programma. <br> Iscriviti subito per non perdere i tuoi eventi preferiti!</span>

                <div class="mx-5">


                  <div class="input-group mb-3 mt-4 d-flex justify-content-between">
                    <input type="text" class="form-control" placeholder="Inserisci email" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <input type ="submit" class="btn btn-success border-rad"  value="Iscriviti alla Newsletter">
                 </div>
                    

                </div>
                
            </div>
            
        </div>
        
    </div>


    <!-- ricerca per citta e categoria-->

    <div class="row d-flex justify-content-center align-items-center rows">
      <div class="col-md-6">
          <div class="card">
              <div class="text-center">
                  <h2>Niente in programma?</h2>
                  <span class="d-block mt-3">Stai cercando qualcosa da fare per i prossimi giorni? Basta un click per trovare tutti gli eventi in programma nelle vicinanze! <br> Iscriviti subito per non perdere i tuoi eventi preferiti!</span>
                  <div class="mx-5">
                      <form action="" method="get">
                          <div class="form-row">
                              <div class="col">
                                  <label for="città">Scegli città</label>
                                  <!-- useremo th:each per popolare le select ... -->
                                <select name="città" class="selectpicker" data-width="100px">
                                      <option disabled selected>Città:</option>
                                      <option value="città1">Città 1</option>
                                      <option value="città2">Città 2</option>
                                      <option value="città1">Città 3</option>
                                      <option value="città2">Città 4</option>
                                      <option value="città2">sas</option>
                                </select>
                              
                              </div>
                              <div class="col">
                                  <label for="categoria">Scegli categoria</label>
                                  <select name="categoria" class="selectpicker">
                                      <option disabled selected>Categorie:</option> 
                                      <option value="categoria1">Categoria 1</option>
                                      <option value="categoria2">Categoria 2</option>
                                      <option value="categoria3">Categoria 3</option>
                                      <option value="categoria3">Categoria 4</option>
                                      <option value="categoria3">Categoria 5</option>
                                  </select>
               
                              </div>
                          </div>
                          <br>
                          <input type="submit" value="Cerca" class="btn btn-success border-rad">
                      </form>  
                    <!--   <form action="" method="get">
                        <div class="row">
                          <div class="col">
                            <select name="città" class="selectpicker" data-width="auto">
                              <option disabled selected>Città:</option>
                              <option value="città1">Città 1</option>
                              <option value="città2">Città 2</option>
                              <option value="città1">Città 3</option>
                              <option value="città2">Città 4</option>
                              <option value="città2">Città 5555555555555555555555</option>
                            </select>
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Last name">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Last name">
                          </div>
                        </div>
                      </form> -->
                  </div>
              </div>
          </div>
      </div>
  </div>

 <!-- INIZIO FOOTER -->

 <div class="bottom">
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-body-secondary">[Bigliett]ONE © 2023</p>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      <div class="col mb-3">
        <h5>[Bigliett]ONE</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>[Bigliett]ONE</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>[Bigliett]ONE</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>
    </footer>
  </div>
</div>

<!-- FINE FOOTER -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script>
    function myFunction() {
      var inputCitta, inputEventi, inputDataInizio, inputDataFine, filterCitta, filterEventi, filterDataInizio, filterDataFine, table, tr, td, i, txtValueCitta, txtValueEventi, txtValueData;
      inputCitta = document.getElementById("myInputCitta");
      inputEventi = document.getElementById("myInputEventi");
      inputDataInizio = document.getElementById("myInputDataInizio");
      inputDataFine = document.getElementById("myInputDataFine");
      filterCitta = inputCitta.value.toUpperCase();
      filterEventi = inputEventi.value.toUpperCase();
      filterDataInizio = new Date(inputDataInizio.value);
      filterDataFine = new Date(inputDataFine.value);
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        tdCitta = tr[i].getElementsByTagName("td")[0];
        tdEventi = tr[i].getElementsByTagName("td")[1];
        tdData = tr[i].getElementsByTagName("td")[2];
        if (tdCitta && tdEventi && tdData) {
          txtValueCitta = tdCitta.textContent || tdCitta.innerText;
          txtValueEventi = tdEventi.textContent || tdEventi.innerText;
          txtValueData = new Date(tdData.textContent || tdData.innerText);
          if (
            txtValueCitta.toUpperCase().indexOf(filterCitta) > -1 &&
            txtValueEventi.toUpperCase().indexOf(filterEventi) > -1 &&
            (isNaN(filterDataInizio) || txtValueData >= filterDataInizio) &&
            (isNaN(filterDataFine) || txtValueData <= filterDataFine)
          ) {
              tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }       
    }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>

